body {
  position: relative;
  background-image: url(../img/background.png);
  background-repeat: repeat;
  background-position: bottom center;
}

#nav, footer {
  background-color:#455a64;
  font-family: 'Ubuntu', sans-serif;
}

#wrapper {
  margin:40px 0px;
  font-family: 'Open Sans', sans-serif;
}

footer {
  	color: #fff;
  	padding: 10px 0px;
}

@media (max-width: 360px)
{

}

@media (min-width: 361px) and (max-width: 766px)
{

}

@media (min-width: 767px) and (max-width: 992px)
{

}

@media (min-width: 993px) and (max-width: 1200px)  
{

}

@media (min-width: 1200px)
{
  #name{
    font-size: 50px;
  }
  #headline{
     font-weight: 300;
     font-size: 25px;
  }
  .title{
    font-size: 23px;
    font-weight: 700;
    margin: 0px;
  }
  #links{
    font-size: 15px;
  }
  .jumbotron .year{
    margin: 0px;
    font-size: 17px;
  }
  .short_desc{
    font-size: 20px;
    margin-top: 5px;
  }
}

.more_horiz::after {
    font-family: 'Material Icons';
    content: "more_horiz";
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
}

a:hover {
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
}