/*common styles*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Open Sans', sans-serif;
}

p, 
a{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
/*end of common styles*/

/*footer styles*/
#first_footer {
	background-color: #263238;
}

#second_footer {
	background-color: #455a64;
}

footer {
  	color: #fff;
  	padding: 10px 0px;
}

footer h2 {
  	font-size: 25px;
  	color: #b2dbfb;
  	padding-bottom: 0px;
  	margin-bottom: 0px;
}

footer ul {
  	list-style: none;
  	display: inline;
}

footer a, 
footer a:hover, 
footer a:focus,
footer a:visited {
    color: white;
    text-decoration: none;
}
/*end of footer styles*/

/*course search page styles*/
#course_search button {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
#page_title {
	text-align: center;
	font-family: 'Droid Serif', serif;
	margin-top: 50px;
}

#course_search .card-local {
	font-family: 'Roboto', sans-serif;
	margin: 10px 0px;
	position: relative;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#course_search .card-local:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#course_search .card-local .card-local-content {
	padding: 10px;
}
			
#course_search .card-local .card-local-content .card-local-title,
#course_search .card-local-reveal .card-local-title {
	font-size: 18px;
	font-weight: 400;
}

#course_search .card-local .card-local-action {
	padding: 22px;
	border-top: 1px solid rgba(160, 160, 160, 0.2);
}

#course_search .card-local a {
	font-size: 12px;
	text-transform: uppercase;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

#course_search .card-local a:hover {
	text-decoration:none;
}

#course_search .card-local .card-local-reveal {
	padding: 20px;
	position: absolute;
	background-color: #FFF;
	width: 100%;
	overflow-y: auto;
	left:0;
	bottom:0;
	height: 100%;
	z-index: 1;
	display: none;
}

#course_search .card-local .card-local-reveal p {
	color: rgba(0, 0, 0, 0.71);
}

#course_search .show-btn {
	background-color: transparent;
	font-size:6px;
	padding:2px;
	margin:0px;
}

#course_search .course-image {
	position: relative;
	text-align: center;
}

#course_search .course-image:hover img {
	opacity:0.2;
}

#course_search .course-image:hover button {
	display: block;
}

#course_search .course-image button {
	position:absolute;
	top:35%;
	left:30%;
	display:none;
}

#course_search .searchbox-container {
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: #fff;
	height: 44px;
	vertical-align: top;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#course_search .searchbox-container:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}

#course_search .search-header {
	background: #fafafa;
	color: #666;
	border-bottom: 1px solid #ebebeb;
	margin-bottom:50px;
}

#course_search .dropdown-filter {
	width: 95%;
	height: auto;
	margin-top: -49px;
	margin-left: 2.5%;
	border-radius: 0px;
}
/*end of course search page styles*/

/*dashboard page styles*/
.side-card {
	font-family: 'Roboto', sans-serif;
	margin: 10px 0px;
	position: relative;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#upcoming, 
#pending, 
#enroll{
	padding: 10px 30px;
	/*box-shadow: 0 0 5px #bbb;*/
}

#upcoming p, 
#pending p, 
#enroll p{
	margin:0px;
	padding: 3px;
	font-size: 15px;
}

#upcoming a, 
#pending a, 
#enroll a{
	color: inherit;
}

#upcoming a:hover, 
#pending a:hover, 
#enroll a:hover{
	text-decoration: none;
}
#pending i{
	color: red;
}
.fa-calendar-check-o {
	color: green;
}
.fa-calendar {
	color: blue;
}
/*end of dashboard page styles*/

/*course_view styles*/
.nav-tabs { 
  border-bottom: 2px solid #DDD; 
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover { 
  border-width: 0; 
}

.nav-tabs > li > a { 
  border: none; 
  color: #666; 
  font-size: 15px; 
}

.nav-tabs > li.active > a, 
.nav-tabs > li > a:hover { 
  border: none; 
  color: #4285F4 !important; 
  background: transparent; 
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    border: none;
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #2196f3;
    color: #2196f3;
    }

.nav-tabs > li > a::after { 
  content: ""; 
  background: #4285F4; 
  height: 2px; 
  position: absolute; 
  width: 100%; 
  left: 0px; 
  bottom: -1px; 
  transition: all 250ms ease 0s; 
  transform: scale(0); 
}

.tab-nav > li > a::after { 
  background: #21527d none repeat scroll 0% 0%; 
  color: #fff; 
}

.tab-pane { 
  padding: 15px 0; 
}

.tab-content {
  padding:20px
}

#about input,
#about textarea, 
#structure input,
#structure textarea {
	background-color: #fafafa;
}

.tab-content label {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: inherit;
}

.nav-tabs > li > a {
	border-radius: 0;
}

.nav-tabs {
	background-color: #f6f6f6;
}

/*end of course_view styles*/

/*home styles*/
#header{
  margin: 0;
  padding: 1.125em;
  color: white;
  background-color: #3367d6;
  -webkit-box-shadow: 0 8px 6px -6px #3367d6;
     -moz-box-shadow: 0 8px 6px -6px #3367d6;
          box-shadow: 0 8px 6px -6px #3367d6;
             z-index:10000;
}

#header h1{
  font-size: 2.125em;
  margin-top: 0;
  margin-bottom: 0.3125em;
  color: white;
}

#header p{
  margin-bottom: 0.3125em;
  font-size: 1.00em;
}
#links img{
  height: 26px;
  width: 26px;
}

#links li{
  display: inline;
  margin: 0 7px;
}

.badge-notify{
   	background:red;
   	position:relative;
   	top: -10px;
   	left: -5px;
}

.notifications {
	min-width:400px; 
}

.notifications-wrapper {
 	overflow:auto;
  	max-height:250px;
}

.menu-title {
  	display:inline-block;
}

.notification-heading, .notification-footer  {
	padding:0px 10px;
	background-color: aliceblue;
}
  
.item-title {
	font-size:1.3rem;
}

.notification-item {
	padding:0px 10px;
	border-radius:4px;
}
.notifications.divider{
	margin:0;
}
#sticky {
    width: 100%;
}

#sticky-copy {
    width: 100%;
    visibility: hidden;
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index:100000;
    width: 100%;
}
@media (max-width: 360px)
{
  #header h1{
    font-size: 1.65em;
  }
  #header p{
    font-size: 0.75em;
  }
  #links img{
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 992px)
{
  #links{
    float: right;
    margin: 15px 0;
  }
}
#call-us {
  text-align: center;
}
.btn-class{
	text-transform: none;
	border-radius: 0;
	margin:0;
}
#carousel-logos .col-xs-6 {width: 50%;}
#carousel-logos .col-sm-4 {width: 33.33333334%;}
#carousel-logos .col-md-3 {width: 25%;}
#carousel-logos .col-lg-2 {width: 16.66666667%;}

@media (max-width: 767px) {
  .carousel-logos .active.left { left: -50%; }
  .carousel-logos .next        { left:  50%; }
  .carousel-logos > .item.next,
  .carousel-logos > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(50%, 0, 0);
              transform: translate3d(50%, 0, 0);
  }
  .carousel-logos > .item.prev,
  .carousel-logos > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
  }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
}

@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-logos .active.left { left: -33.33333334%; }
  .carousel-logos .next        { left:  33.33333334%; }
  .carousel-logos > .item.next,
  .carousel-logos > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(33.33333334%, 0, 0);
              transform: translate3d(33.33333334%, 0, 0);
  }
  .carousel-logos > .item.prev,
  .carousel-logos > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-33.33333334%, 0, 0);
              transform: translate3d(-33.33333334%, 0, 0);
  }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
  .active > div:nth-child(3) { display:block; }
}

@media (min-width: 992px) and (max-width: 1200px)  {
  .carousel-logos .active.left { left: -25%; }
  .carousel-logos .next        { left:  25%; }
  .carousel-logos > .item.next,
  .carousel-logos > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(25%, 0, 0);
              transform: translate3d(25%, 0, 0);
  }
  .carousel-logos > .item.prev,
  .carousel-logos > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
  }        
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
  .active > div:nth-child(3) { display:block; }
  .active > div:nth-child(4) { display:block; }

}

@media (min-width: 1200px){
  .carousel-logos .active.left { left: -16.66666667%; }
  .carousel-logos .next        { left:  16.66666667%; }
  .carousel-logos > .item.next,
  .carousel-logos > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(16.66666667%, 0, 0);
              transform: translate3d(16.66666667%, 0, 0);
  }
  .carousel-logos > .item.prev,
  .carousel-logos > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-16.66666667%, 0, 0);
            transform: translate3d(-16.66666667%, 0, 0);
  } 
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
  .active > div:nth-child(3) { display:block; }
  .active > div:nth-child(4) { display:block; }
  .active > div:nth-child(5) { display:block; }
  .active > div:nth-child(6) { display:block; }
}

cite{
  font-size: 17px;
}
.variable-height{
  width: auto;
  height: 300px;
}

@media (max-width: 360px)
{
  .variable-height{
    width:auto;
    height: 500px;
  }
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.quote {
  color: rgba(0,0,0,.1);
  text-align: center;
  margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
	opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
	opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 1px;
}

#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}

#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.animate-loader {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(/images/mp.png) center no-repeat #fff;
}
#home-content{
  position: relative;
  background-image: url(/images/background.png);
  background-repeat: repeat;
  background-position: bottom center;
}

/*end of home styles*/